---
import DashboardLayout from "../../../presentation/layouts/DashboardLayout.astro";
import GrupoSelector from "../../../presentation/components/profesor/GrupoSelector.astro";
import TeacherSection from "../../../presentation/components/profesor/TeacherSection.astro";

import { getGroupsByTeacher } from "../../../business/profesor/grupoService";
import { getStudentListByGroup } from "../../../business/profesor/studentListService";

import "../../../presentation/styles/profesor.css";

const { user, roleData } = Astro.locals;

const grupos = await getGroupsByTeacher(roleData.usuarioId);

const grupoId =
  Number(Astro.url.searchParams.get("grupo"))
  || grupos?.[0]?.grupo_id;

const alumnos = await getStudentListByGroup(roleData.usuarioId, grupoId);
---

<DashboardLayout
  title="Alumnos"
  role="profesor"
  userEmail={user.email}
>

<TeacherSection title="Lista de alumnos"
  description="Selecciona un grupo para consultar sus integrantes y su información académica."
>

  <GrupoSelector grupos={grupos} grupoId={grupoId} />

  <table class="teacher-table">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Boleta</th>
      </tr>
    </thead>

    <tbody>
      {alumnos.length === 0

        ? (
          <tr>
            <td colspan="2">No hay alumnos en este grupo</td>
          </tr>
        )

        : alumnos.map(a => (
          <tr>
            <td>{a.nombre}</td>
            <td>{a.boleta}</td>
          </tr>
        ))
      }
    </tbody>

  </table>

</TeacherSection>

</DashboardLayout>